@import "bootstrap";

html, body {
	height: 100%;
	padding-top: 70px;
}

#wrap {
	height: auto !important; 
	margin: 0 auto -60px; 
	min-height: 100%;  
}

#header {
	.container {
		width: 940px;
	}
}

#push, #footer {
	height: 60px;
}

#footer {
	background-color: #F5F5F5;
	p	{
		margin: 20px 0; 
		text-align: center;
	}
}